//====================================================================================================
.footer {
    background-color: rgb(88, 70, 70);
	box-shadow: 0 0 5px rgba(0, 0, 0, 2.13);


    // .footer__container
    &__container {
    }
    // .footer__inner
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        gap: rem(20);
        padding: rem(20);
    }
    // .footer__logo
    &__logo {
        font-size: rem(25);
        transition: transform 0.5s ease 0s;
        &:hover {
            color: #46b6a0;
            transform: scale(1.1);
        }
        @media (max-width: $mobileSmall) {
            display: none;
        }
    }
    // .footer__contacts
    &__contacts {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: rem(50);
        row-gap: rem(20);
        @media (max-width: $mobile) {
            justify-content: center;
        }
    }
    // .footer__email
    &__email {
        transition: transform 0.5s ease 0s;
        &:hover {
            color: #46b6a0;
            transform: scale(1.1);
        }
    }
    // .footer__phone
    &__phone {
        transition: transform 0.5s ease 0s;
        &:hover {
            color: #46b6a0;
            transform: scale(1.1);
        }
    }
}

//====================================================================================================
